* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.First-col {
    top: 0;
    left: 42.2%;
    background-color: #c22020;
    height: 455px;
    width: 3px;
    display: none;
    box-shadow: 0px 0px 10px 3px #c2202089 ;
}

.sec-col {
    top: 0;
    left: 50%;
    background-color: #c22020;
    height: 455px;
    width: 3px;
    display: none;
    box-shadow: 0px 0px 10px 3px #c2202089 ;

}

.third-col {
    top: 0;
    left: 58.3%;
    background-color: #c22020;
    height: 455px;
    width: 3px;
    display: none;
    box-shadow: 0px 0px 10px 3px #c2202089 ;

}

.first-row {
    top: 68px;
    left: 37.5%;
    background-color: #c22020;
    height: 2px;
    width: 473px;
    display: none;
    box-shadow: 0px 0px 10px 3px #c2202089 ;

}

.sec-row {
    top: 232px;
    left: 37.6%;
    background-color: #c22020;
    height: 2px;
    width: 474px;
    display: none;
    box-shadow: 0px 0px 10px 3px #c2202089 ;

}

.third-row {
    top: 380px;
    left: 37.5%;
    background-color: #c22020;
    height: 2px;
    width: 473px;
    display: none;
    box-shadow: 0px 0px 10px 3px #c2202089 ;
}

.cross1 {
    top: 226px;
    left: 33%;
    background-color: #20c22b;
    height: 2px;
    width: 646px;
    transform: rotate(43deg);
    display: none;
    box-shadow: 0px 0px 10px 3px #20c22b8e ;
}

.cross2 {
    top: 226px;
    left: 33%;
    background-color: #20c22b;
    height: 2px;
    width: 646px;
    transform: rotate(136deg);
    display: none;
    box-shadow: 0px 0px 10px 3px #20c22b8e ;
}

.spn {
    visibility: hidden;
}

.h {
    text-shadow: 2px 2px #ff0000;
}

.win {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #20c22b;
    background-color: #fff;
}